<!DOCTYPE html>
<html>
<head>
    <title>Editar Item</title>
    <link rel="stylesheet" href="/static/editar.css">
</head>
<body>
    <div class="edit_item">
        <h1>Editar Item</h1>
        <a href="/">Voltar para a lista</a>
        <form method="POST" action="/editar/{{ item[0] }}">
            <label for="novo_nome">Nome do Item:</label>
            <input type="text" id="novo_nome" name="novo_nome" value="{{ item[1] }}" required><br>
            
            <label for="nova_quantidade">Quantidade:</label>
            <input type="number" id="nova_quantidade" name="nova_quantidade" value="{{ item[2] }}" required><br>
            
            <input type="submit" value="Salvar">
        </form>
    </div>
</body>
</html>
