<!DOCTYPE html>
<html>

<head>
  <title>Editar Item</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/editar.css" />
</head>

<body>
    <div class="edit_item">
      <h1>Editar Item</h1>
      <a href="/" class="btn btn-primary">Voltar para a lista</a>
      <form method="POST"><br>
        <div class="form-group">
          <label for="novo_nome">Nome do Item:</label>
          <input type="text" class="form-control" id="novo_nome" name="novo_nome" value="{{ item[1] }}"
            required /><br />
        </div>

        <div class="form-group">
          <label for="nova_quantidade">Quantidade:</label>
          <input type="number" class="form-control" id="nova_quantidade" name="nova_quantidade" value="{{ item[2] }}"
            required /><br />
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
      </form>
    </div>
</body>

</html>